<!-- frontend/pages/view/game_detail.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/view/gameDetail.js" defer></script>
</head>

<body>
    <header class="header"></header>
    <nav class="navbar"></nav>

    <main>
        <section class="game-detail">
            <div class="game-detail__game-info game-info"></div>

            <div class="game-detail__game-record game-record"></div>
        </section>
    </main>
</body>

</html>
