<!-- frontend/pages/category/game_detail.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/category/gameDetail.js" defer></script>
</head>

<body>
    <header id="header"></header>

    <nav id="navbar"></nav>

    <section id="game-detail">
        <div id="game-overview"></div>
        <div id="game-record-list"></div>
    </section>
</body>

</html>
