<!-- frontend/pages/view/game_list.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/view/gameList.js" defer></script>
</head>

<body>
    <header class="header"></header>
    <nav class="navbar"></nav>

    <section id="game-section">
        <h3>試合日程</h3>
        <div id="game-search"></div>
        <div id="game-list"></div>
    </section>
</body>

</html>
