<!-- frontend/pages/view/index.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/view/index.js" defer></script>
</head>

<body>
    <header id="header"></header>

    <nav id="navbar"></nav>

    <div class="main">
        <section id="favorite-section"></section>
        <section id="pickup-section"></section>
        <section id="league-section"></section>
        <section id="tournament-section"></section>
    </div>
</body>

</html>
