<!-- frontend/pages/view/league_detail.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/view/leagueDetail.js" defer></script>
</head>

<body>
    <header class="header"></header>
    <nav class="navbar"></nav>

    <main>
        <div class="league-title"></div>

        <section class="league-detail">
            <div class="league-detail__tab">
                <div class="league-detail__tab-top active">トップ</div>
                <div class="league-detail__tab-team">チーム</div>
                <div class="league-detail__tab-game">試合</div>
            </div>

            <div class="league-detail__container">
                <div class="league-detail__container-top"></div>
                <div class="league-detail__container-team"></div>
                <div class="league-detail__container-game"></div>
            </div>
        </section>
    </main>
</body>

</html>
