<!-- frontend/pages/view/person_detail.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/view/personDetail.js" defer></script>
</head>

<body>
    <header class="header"></header>
    <nav class="navbar"></nav>

    <main>
        <div class="person-title"></div>

        <section class="person-detail">
            <div class="person-detail__tab">
                <div class="person-detail__tab-top active">トップ</div>
                <div class="person-detail__tab-stats">成績</div>
            </div>

            <div class="person-detail__container">
                <div class="person-detail__container-top"></div>
                <div class="person-detail__container-stats"></div>
            </div>
        </section>
    </main>
</body>

</html>
