<!-- frontend/pages/category/person_list.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/category/personList.js" defer></script>
</head>

<body>
    <header id="header"></header>

    <nav id="navbar"></nav>

    <section id="person-section">
        <h3>メンバー一覧</h3>
        <div id="person-search"></div>
        <div id="person-list"></div>
    </section>
</body>

</html>
