<!-- frontend/pages/category/person_list.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/view/personList.js" defer></script>
</head>

<body>
    <header class="header"></header>
    <nav class="navbar"></nav>

    <main>
        <section class="person-section"></section>
    </main>
</body>

</html>
