<!-- frontend/pages/view/tournament_detail.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ソフナビ</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="module" src="../../js/main/view/tournamentDetail.js" defer></script>
</head>

<body>
    <header class="header"></header>
    <nav class="navbar"></nav>

    <main>
        <div class="tournament-title"></div>

        <section class="tournament-detail">
            <div class="tournament-detail__tab">
                <div class="tournament-detail__tab-top active">トップ</div>
                <div class="tournament-detail__tab-schedule">日程</div>
                <div class="tournament-detail__tab-game">試合</div>
            </div>

            <div class="tournament-detail__container">
                <div class="tournament-detail__container-top"></div>
                <div class="tournament-detail__container-schedule"></div>
                <div class="tournament-detail__container-game"></div>
            </div>
        </section>
    </main>
</body>

</html>
